{% extends "base.html" %}
{% from 'bootstrap4/form.html' import render_form %}

{% block app_content %}
    <div class="default_page">
        <h1 style="margin-top:20px;">{{ 'Sign In' }}</h1>
        <div class="row">
            <div class="col-md-4">
                {{ render_form(form) }}
            </div>
        </div>
        <br>
        {#
        <p>{{ 'New User?' }} <a href="{{ url_for('auth.register') }}">{{ 'Click to Register!' }}</a></p>
        #}
        {#
        <p>
            {{ 'Forgot Your Password?' }}
            <a href="{{ url_for('auth.reset_password_request') }}">{{ 'Click to Reset It' }}</a>
        </p>
    #}
    </div>
{% endblock %}
