alembic==1.10.4
blinker==1.6.2
Bootstrap-Flask==2.2.0
certifi==2022.12.7
charset-normalizer==3.1.0
click==8.1.3
dnspython==2.3.0
dominate==2.7.0
email-validator==2.0.0.post2
feedparser==6.0.10
fitdecode==0.10.0
Flask==2.3.2
Flask-HTTPAuth==4.8.0
Flask-Login==0.6.2
GenerateMapImage @ git+https://github.com/mbromberek/GenerateMapImage.git@fcde5372eed98f69998c25c4f0f90f6da6228c65
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
geographiclib==2.0
geopy==2.3.0
greenlet==2.0.2
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
kaleido==0.2.1
Mako==1.2.4
NormalizeWorkout @ git+https://github.com/mbromberek/NormalizeWorkout.git@d690829ce4b3c66a947327637e8f80d7e018a731
MarkupSafe==2.1.2
numpy==1.24.3
packaging==23.1
pandas==2.0.1
plotly==5.14.1
psycopg2-binary==2.9.6
python-dateutil==2.8.2
python-editor==1.0.4
pytz==2023.3
requests==2.29.0
retrying==1.3.4
sgmllib3k==1.0.0
six==1.16.0
SQLAlchemy==2.0.12
tenacity==8.2.2
typing_extensions==4.5.0
tzdata==2023.3
urllib3==1.26.15
visitor==0.1.3
Werkzeug==2.3.3
WTForms==3.0.1
