alembic==1.8.1
Bootstrap-Flask==2.1.0
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.1.3
dnspython==2.2.1
dominate==2.7.0
email-validator==1.3.0
feedparser==6.0.10
fitdecode==0.10.0
Flask==2.2.2
Flask-HTTPAuth==4.7.0
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.2
Flask-WTF==1.0.1
GenerateMapImage @ git+https://github.com/mbromberek/GenerateMapImage.git@fcde5372eed98f69998c25c4f0f90f6da6228c65
geographiclib==2.0
geopy==2.3.0
greenlet==2.0.1
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
kaleido==0.2.1
Mako==1.2.4
MarkupSafe==2.1.1
NormalizeWorkout @ git+https://github.com/mbromberek/NormalizeWorkout.git@d690829ce4b3c66a947327637e8f80d7e018a731
numpy==1.23.4
pandas==1.5.1
plotly==5.11.0
psycopg2-binary==2.9.5
python-dateutil==2.8.2
python-editor==1.0.4
pytz==2022.6
requests==2.28.1
retrying==1.3.3
sgmllib3k==1.0.0
six==1.16.0
SQLAlchemy==1.4.44
tenacity==8.1.0
urllib3==1.26.12
visitor==0.1.3
Werkzeug==2.2.2
WTForms==3.0.1
