alembic==1.13.1
astroid==3.1.0
autopep8==2.1.0
black==24.4.2
blinker==1.8.1
Bootstrap-Flask==2.4.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
dill==0.3.8
dnspython==2.6.1
docstring-to-markdown==0.15
dominate==2.9.1
email_validator==2.1.1
feedparser==6.0.11
fitdecode==0.10.0
flake8==7.0.0
Flask==3.0.3
Flask-HTTPAuth==4.8.0
git+https://github.com/mbromberek/GenerateMapImage.git
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
geographiclib==2.0
geopy==2.4.1
greenlet==3.0.3
idna==3.7
importlib_metadata==7.1.0
isort==5.13.2
itsdangerous==2.2.0
jedi==0.17.2
Jinja2==3.1.4
kaleido==0.2.1
lazy-object-proxy==1.10.0
Mako==1.3.3
MarkupSafe==2.1.5
mccabe==0.7.0
mypy==1.10.0
mypy-extensions==1.0.0
git+https://github.com/mbromberek/NormalizeWorkout.git
numpy==1.26.4
packaging==24.0
pandas==2.2.2
parso==0.7.1
pathspec==0.12.1
platformdirs==4.2.1
plotly==5.22.0
pluggy==1.5.0
psycopg2-binary==2.9.9
pycodestyle==2.11.1
pydocstyle==6.3.0
pyflakes==3.2.0
pylint==3.1.0
pyls-black==0.4.7
pyls-isort==0.2.2
pyls-mypy==0.1.8
python-dateutil==2.9.0.post0
python-editor==1.0.4
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.11.0
pytoolconfig==1.3.1
pytz==2024.1
requests==2.31.0
retrying==1.3.4
rope==1.13.0
sgmllib3k==1.0.0
six==1.16.0
snowballstemmer==2.2.0
SQLAlchemy==2.0.30
tenacity==8.2.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.4
typing_extensions==4.11.0
tzdata==2024.1
ujson==5.9.0
urllib3==2.2.1
visitor==0.1.3
Werkzeug==3.0.3
wrapt==1.16.0
WTForms==3.1.2
yapf==0.40.2
zipp==3.18.1
