        <div class="dashboard_widget {% if destPage and destPage == 'home' %}desktop_margin_left{% endif %}" id="goal_chart_container" style="margin-right:0;">
            <div id="goal_chart_title">
                2024 Workout Goals 
            </div>
            <div id="goal_chart_desc">
                &nbsp;
            </div>
            <div id="goal_chart_container_left">
                <div  id="goal_chart" style="overflow:auto; width:250px; height:270px;" >
                </div>
            </div>
            <div class="goal_chart_btn" >
                <button onclick="update_goal_chart(0)">Run Miles</button>
                <button onclick="update_goal_chart(1)">Cycle Miles</button>
                <button onclick="update_goal_chart(2)">Cycle Ct</button>
            </div>
        </div>