body {
    margin: 0;
    /* padding-left: 5px; */
    padding-right: 0;
    /* padding-top:5px; */
    padding-bottom:5px;
}

.sch_nav_bar{
  position:fixed;
  /* height:40px; */
  width:100%;
  background-color: #1F4E78;
  color:white;
  /* margin-bottom:5px; */
  vertical-align: top;
  /* padding:15px; */
  z-index:3;
}
.sch_nav_img{
  display:inline-block;
  padding-right:5px;
  padding-left:10px;
  vertical-align: middle;
  padding-top:0px;

}
.sch_nav_hdr{
  display:inline-block;
  font-weight:normal;
  font-size:14pt;
  text-align: left;
  text-decoration: none;
  padding-top:18px;
  padding-right:15px;
  padding-left:15px;
  padding-bottom:0px;
  vertical-align: middle;
  
  height:37px;
  /* width:150px; */
}
.sch_nav_hdr:hover{
  cursor:pointer;
  background-color:black;
}

.sch_nav_item{
  display:inline-block;
  font-weight:normal;
  font-size:14pt;
  text-align: left;
  text-decoration: none;
  padding-top:18px;
  padding-right:15px;
  padding-left:15px;
  padding-bottom:0px;
  vertical-align: middle;
  
  height:37px;
}
.sch_nav_item:hover{
  cursor:pointer;
  background-color:black;
  /* text-decoration: underline; */
}
.sch_nav_item_selected{
  background-color:black;
}
#nav_space_filler{
  height:55px;
}
.nav_separator{
  display:inline-block;
  font-weight:normal;
  font-size:14pt;
  text-align: center;
  vertical-align: middle;  
  height:37px;
  border-left:3px solid lightblue; 
  margin-top:10px;
  margin-bottom:10px;
  margin-left:1px;
  margin-right:1px;
}
.nav_now{
  width:40px;
}
.nav_day{
  width:90px;
}
.nav_panel{
  width:100px;
} 

.sch_lst{
  /* position:relative; */
  display:inline-block;
  /* margin-left:5px; */
  /* margin-top:55px; */
  width: 500px;
  height:100%;

}

.drop_sch_nav_item{
  padding-right:2px;
  padding-left:15px;
  text-align:left;
  /* width:calc((100% -10px)); */
  width:100%;
  border-left:20px solid black;
  background-color: #1F4E78;
}


/* Style The Dropdown Button NOT USED*/
/* .dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
} */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  /* border:1px solid greenyellow; */

}

/* Dropdown Content (Hidden by Default) */
.dropdown_content {
  display: none;
  position: absolute;
  /* background-color: #1F4E78; */
  /* width: 150px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /* z-index: ; */
}

/* Links inside the dropdown */
/*.dropdown_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}*/

/* Change color of dropdown links on hover */
/* .dropdown_content a:hover {background-color: #f1f1f1} */

/* Show the dropdown menu on hover */
/* .dropdown:hover .dropdown_content {
  display: block;
} */

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  /* background-color: #3e8e41; */
}

/* Show the dropdown menu */
.nav_show {
  display:block;
}







.panel_det{
  position:fixed;
  /* vertical-align: top;margin-top:5px;margin-left:5px; */
  right:10px;
  /* top:5px; */
  top:60px;
  padding-left:15px;
  padding-right:15px;
  padding-top:25px;
  padding-bottom:10px;
  overflow:scroll;
  display:none;
  z-index:2;
  
  /* display:inline-block;
  vertical-align: top;
  padding-top:20px; */
  border: 1px black solid;
  border-top: 20px black solid;
  width:calc((100% - 560px));
  /* height:95%; */
  height:500px;
}
.panel_det_row{
  margin-top:10px;
  margin-bottom:10px;
  font-weight:normal;
  font-size:14pt;
  text-align: left;  
}
.panel_hdr_row{
  font-weight:bold;
  font-size:18pt;
  margin-bottom:10px;
}

.sch_card {
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    /* position:relative; */
    /* height: 300px;  */
    /* border: 0px lightblue solid; */
    border-left: 20px black solid;
    /* border-bottom:1px black solid; */
}
.sch_card:hover{
  cursor:pointer;
}
.sch_card_color_0{
  background-color:lightblue;
}
.sch_card_color_1{
  background-color:#eeeeee;
}
.sch_card_panel_guest{
  border-color: darkorange;
}
.sch_card_panel_staff{
  border-color: green;
}
.sch_card_panel_attendee{
  border-color: darkblue;
}
.sch_card_panel_convention{
  border-color: darkred;
}
.sch_card_panel_family{
  border-color: purple;
}
.selected_panel{
  background-color: lightgreen;
}

.sch_header{
  font-weight:bold;
  font-size:15pt;
  text-align: left;
}

.sch_detail{
  font-weight:normal;
  font-size:12pt;
  text-align: left;  
}
.sch_description{
  /* Used to limit size of notes section on workouts list */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow:hidden;
  width:100%;
}

.sch_detail_separators{
    height:1px;
    border-top:2px lightblue solid;
    float:left;
    margin-top:5px;
    margin-bottom:10px;
    width:100%;
}

a.sch_lnk{
  color:black;
  text-decoration: none;
}

a.sch_lnk:hover{
  text-decoration: underline;
}
.close_btn_area{
  width:100%;
  text-align:right;
  padding-top:10px;
  padding-bottom:10px;
  display:none;
}
.close_btn{
  /* border: 1px red solid; */
  padding-right:20px;
  padding-left:20px;
  padding-bottom:15px;
  text-decoration: underline;
}
.close_btn:hover{
  cursor:pointer;
}
.hidden_ele{
  display:none;
}




/* For phones */
@media only screen and (max-width:700px) {
  body {
      padding-top:0px;
      padding-bottom:0px;
      padding-left:0px;
  }
  .sch_nav_bar{
    z-index:1;
  }
  .sch_nav_item{
    padding-left:5px;
    padding-right:5px;
  }
  
  .sch_nav_hdr{
    padding-left:5px;
    padding-right:5px;
  }
  .nav_now{
    width:35px;
  }
  .nav_day{
    width:80px;
  }
  .nav_panel{
    width:100px;
  } 

  /* .sch_card{
    width:100%;
  } */
  .sch_lst{
    /* position:relative; */
    /* display:inline-block; */
    margin-left:0px;
    /* margin-top:0px; */
    width: 100%;
  
  }

  .panel_det{
    right:0px;
    top:0px;
    width:calc((100% - 32px));
    background-color: white;
    height:100%;
    padding-top:5px;
  }
  .close_btn_area{
    display:inline-block;
  }

}
@media only screen and (max-height:500px){
  .panel_det{
    height:300px;
    top:55px;
  }
}

/* For tablets */
@media screen and (min-width: 700px) and (max-width: 900px) {
  /* .sch_card{
      width:100%;
  } */
}

/* Wide windows */
@media screen and (min-width: 1400px) {
  .panel_det{
      width:800px;
      right:calc((100% - 1350px));
  }
}

/* Very thin screens */
@media only screen and (max-width:375px) {
  .nav_separator{
    display:none;
  }
  .sch_nav_hdr{
    font-size:12pt;
    padding-left:0px;
    padding-right:0px;
  }
  .sch_nav_item{
    font-size:12pt;
    padding-left:0px;
    padding-right:0px;
  }
  
}