div.home_section_1{
    background-color:white;
    /* background-color:lightblue; */
    /* background-color: rgba(144, 144, 144, 0.1); */
    color:black;
}
div.home_section_2{
    /*background-color:lightblue;*/
    background-color:#43d9b8;
    color:white;
}
div.home_section{
    /* width:900px; */
    width:100%;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
h2.home{
    text-align:center;
}



/*from w3 schools https://www.w3schools.com/html/html_responsive.asp */
* {
  box-sizing: border-box;
}
.menu {
  float: left;
  width: 20%;
}
.menuitem {
  padding: 8px;
  margin-top: 7px;
  border-bottom: 1px solid #f1f1f1;
}



.about_body {
    float: left;
    width: 60%;
    overflow: hidden;
    margin-right: 30px;
    font-size:20px;
}
.about_img {
    float: left;
    width: 20%;
    padding: 10px 15px;
    margin-top: 7px;
}

.cat_body {
    float: left;
    width: 320px;
    overflow: hidden;
    font-size:20px;
    padding-top:10px;
    border: 0px black solid;
}
.cat_img {
    float: left;
    width: 550px;
    padding-top:10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
    border: 0px red solid;
}
.cat_img_long {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border: 0px red solid;
}
.cat_img_left {
    float: left;
    max-width: 400px;
    margin-left: 15px;
    margin-right: 75px;
    border: 0px red solid;
}
.cat_img_right {
    float: left;
    max-width: 400px;
    border: 0px red solid;
}


.skills{
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border: 0px solid red;
}
.skills_item {
    float: left;
    width: 110px;
    overflow: hidden;
    border: 0px solid red;
}

@media only screen and (max-width:800px) {
    /* For tablets: */
    .about_body {
        width: 80%;
        padding: 0;
    }
    .about_img {
        width: 100%;
    }
    /* For tablets: */
    .cat_body {
        width: 80%;
        padding: 0;
    }
    .cat_img {
        width: 100%;
    }
}
@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .about_body, .about_img, .cat_body, .cat_img {
        width: 100%;
    }
    .skills{
        width: 100%;
    }
}
