.workout {
    width: 800px;
    box-shadow: 3px 3px 5px black;
    border-radius: 20px;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:15px;
}
/*.workout:hover {
    background-color: lightblue;
    cursor:pointer;
}*/

.workout-header{
    font-weight:bold;
    font-size: 20pt;
    text-align: left;
    vertical-align: middle;
    padding-left:0px;
    padding-right:0px;
    padding-top:0px;
    padding-bottom:0px;
}
.workout-detail{
    font-weight:normal;
    font-size: 12pt;
    padding-left:0px;
    padding-right:0px;
    padding-top:0px;
    padding-bottom:0px;
}

a.workout_lnk{
    color:black;
    text-decoration: none;
}
a.workout_lnk:hover{
    text-decoration: underline;
    color:darkred;
}

.field_row{
    padding-bottom:20px;
}
.field_col{
    padding-left:20px;
}

fieldset.wrkt_det{
    border: 1px solid gray;
    padding: 0px 15px;
}
legend.wrkt_det{
    padding: 0.5em 0.5em;
    border: 0px solid green;
    color: gray;
    font-size: 90%;
    text-align: right;
    width:auto;
}
