.workout {
    /*border: 1px black solid;*/
    width: 800px;
    box-shadow: 3px 3px 5px black;
    /*padding: 10px;*/
    border-radius: 20px;
}

.workout-header{
    font-weight:bold;
    font-size: 20pt;
    text-align: left;
    vertical-align: middle;
    padding-left:10px;
    padding-right:10px;
    padding-top:0px;
    padding-bottom:0px;
}
.workout-detail{
    font-weight:normal;
    font-size: 12pt;
    padding-left:10px;
    padding-right:10px;
    padding-top:0px;
    padding-bottom:0px;
}
