    <div class="dashboard_widget">
        <table class="gear_usage">
            <tr class="gear_usage_hdr">
                <td  class="gear_usage_hdr" colspan="6">
                    Running Mileage by Week
                </td>
            </tr>
            <tr class="gear_usage_hdr">
                <td class="gear_usage_hdr">
                    Week
                </td>
                <td class="gear_usage_hdr hide_mobile">
                    Ct
                </td>
                <td class="gear_usage_hdr">
                    Dist
                </td>
                <td class="gear_usage_hdr">
                    Dur
                </td>
                <td class="gear_usage_hdr">
                    Dist Delta
                </td>
                <td class="gear_usage_hdr">
                    Dur Delta
                </td>
            </tr>
            {% for wk in dash_lst_dict['wkly_mileage_lst'] %}
            <tr >
                <td class="gear_usage_dtl">
                    {{ wk.dt_by_wk.strftime('%Y-%m-%d')}}
                </td>
                <td class="gear_usage_dtl hide_mobile">
                    {{ wk.nbr }}
                </td>
                <td class="gear_usage_dtl">
                    {{ '%0.1f' % wk.tot_dist|float }}
                </td>
                <td class="gear_usage_dtl">
                    {{ wk.duration }}
                </td>
                <td class="gear_usage_dtl" style="text-align:center">
                    {{ '%0.1f' % wk.dist_delta_pct|float }}
                </td>
                <td class="gear_usage_dtl" style="text-align:center">
                    {{ '%0.1f' % wk.tm_delta_pct|float }}
                </td>

            </tr>
            {% endfor %}
        </table>
    </div>
