        <div class="workout_card" id="wrkt{{ workout.id }}">


            <div style="overflow:auto">
                <div class="workout-header" style="float: left; border:0px blue solid;">
                    <a class="workout_lnk" href="{{ url_for('main.workout', workout=workout.id) }}">
                        {{ workout.wrkt_dttm.strftime('%Y-%m-%d %H:%M') }}
                        &nbsp;-&nbsp;
                        {{ workout.type }}
                    </a>
                    &nbsp;
                    <a class="workout_edit_lnk"  href="{{ url_for('main.edit_workout', workout=workout.id) }}">
                        (edit)
                    </a>
                </div>
            </div>

            <div class="workout-detail workout_detail_type" style="border:0px red solid;">
                {{ workout.category }}
                {% if workout.training_type is defined and workout.training_type is not none and workout.training_type|length %}
                - {{ workout.training_type }}
                {% endif %}
                {% if workout.location is defined and workout.location is not none and workout.location|length %}
                - {{ workout.location }}
                {% endif %}
            </div>

            {% if workout.thumb_path != None %}
            <div class="workout_map" style=" ">
                <img src="{{ url_for('main.wrkt_img_file', filename= workout.thumb_path) }}" style="width:100%; height:auto;" >
            </div>
            {% endif %}

            <div class="workouts_detail_separators">
                &nbsp;
            </div>

            <div style="overflow:auto; width:100%;">

                <div class="workout-detail-measures-section" >

                    <div class="workout-detail workout-detail-measures" style="border-right: 1px black solid; ">
                        Distance<br>
                        {{ workout.dist_mi }}mi
                    </div>
                    <div class="workout-detail workout-detail-measures" style="border-right: 1px black solid; ">
                        Duration<br>
                        {{ workout.duration }}
                    </div>
                    <div class="workout-detail workout-detail-measures" >
                        Pace<br>
                        {{ workout.pace }} /mi
                    </div>
                </div>
            </div>

            <div class="workouts_detail_separators">
                &nbsp;
            </div>
            <div class="workouts_weather">
                {% if workout.temp_strt %}
                <div style="overflow:auto; width:100%">
                    <div class="workouts_weather_detail">
                        Start:&nbsp;
                    </div>
                    {% if workout.temp_strt %}
                    <div class="workouts_weather_detail">
                        {{ workout.temp_strt|round|int }}&#176;
                    </div>
                    {% endif %}
                    {% if workout.wethr_cond_strt %}
                    <div class="workouts_weather_detail">
                        &nbsp;{{ workout.wethr_cond_strt }}
                    </div>
                    {% endif %}
                    {% if workout.hmdty_strt %}
                    <div class="workouts_weather_detail">
                        ,&nbsp;
                    </div>
                    <div class="workouts_weather_detail">
                        {{ workout.hmdty_strt|round|int }}%hy
                    </div>
                    {% endif %}
                    {% if workout.dew_point_strt %}
                    <div class="workouts_weather_detail hide_mobile">
                        ,&nbsp;
                    </div>
                    <div class="workouts_weather_detail hide_mobile">
                        dew point {{ workout.dew_point_strt|round|int }}&#176;
                    </div>
                    {% endif %}
                    {% if workout.temp_feels_like_strt %}
                    <div class="workouts_weather_detail">
                        ,&nbsp;
                    </div>
                    <div class="workouts_weather_detail">
                        feels {{ workout.temp_feels_like_strt|round|int }}
                    </div>
                    {% endif %}
                    {% if workout.wind_speed_strt %}
                    <div class="workouts_weather_detail hide_mobile">
                        ,&nbsp;
                    </div>
                    <div class="workouts_weather_detail hide_mobile">
                        wind speed {{ workout.wind_speed_strt|round|int }}mph
                    </div>
                    {% endif %}
                    {% if workout.wind_gust_strt %}
                    <div class="workouts_weather_detail hide_mobile">
                        ,&nbsp;
                    </div>
                    <div class="workouts_weather_detail hide_mobile">
                        gust {{ workout.wind_gust_strt|round|int }}.
                    </div>
                    {% endif %}
                </div>
                {% endif %}
                {% if workout.temp_end %}
                <div style="overflow:auto; width:100%">
                    <div class="workouts_weather_detail">
                        End:&nbsp;
                    </div>
                    {% if workout.temp_end %}
                    <div class="workouts_weather_detail">
                        {{ workout.temp_end|round|int }}&#176;
                    </div>
                    {% endif %}
                    {% if workout.wethr_cond_end %}
                    <div class="workouts_weather_detail">
                        &nbsp;{{ workout.wethr_cond_end }}
                    </div>
                    {% endif %}
                    {% if workout.hmdty_end %}
                    <div class="workouts_weather_detail">
                        ,&nbsp;
                    </div>
                    <div class="workouts_weather_detail">
                        {{ workout.hmdty_end|round|int }}%hy
                    </div>
                    {% endif %}
                    {% if workout.dew_point_end %}
                    <div class="workouts_weather_detail hide_mobile">
                        ,&nbsp;
                    </div>
                    <div class="workouts_weather_detail hide_mobile">
                        dew point {{ workout.dew_point_end|round|int }}&#176;
                    </div>
                    {% endif %}
                    {% if workout.temp_feels_like_end %}
                    <div class="workouts_weather_detail">
                        ,&nbsp;
                    </div>
                    <div class="workouts_weather_detail">
                        feels {{ workout.temp_feels_like_end|round|int }}
                    </div>
                    {% endif %}
                    {% if workout.wind_speed_end %}
                    <div class="workouts_weather_detail hide_mobile">
                        ,&nbsp;
                    </div>
                    <div class="workouts_weather_detail hide_mobile">
                        wind speed {{ workout.wind_speed_end|round|int }}mph
                    </div>
                    {% endif %}
                    {% if workout.wind_gust_end %}
                    <div class="workouts_weather_detail hide_mobile">
                        ,&nbsp;
                    </div>
                    <div class="workouts_weather_detail hide_mobile">
                        gust {{ workout.wind_gust_end|round|int }}.
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            </div>

            {% if workout.temp_strt and workout.temp_end %}
            <div class="workouts_detail_separators">
                &nbsp;
            </div>
            {% endif %}

            <div style="overflow:auto; width:100%;">
                <div class="workout-detail" style="float:left;">
                    Wore: {{ workout.clothes }}
                </div>
                <div class="workout-detail-shoe" >
                    {{ workout.gear_det.nm }}
                </div>
            </div>

            {% if workout.notes_summary != "" %}
            <div style="width:100%; text-align:left;">
                {# Notes: {{ workout.notes_summary|truncate(10) }} #}
                Notes: {{ workout.notes_summary }}
            </div>
            {% endif %}
        </div>
        <br>
