{% for workout in workouts %}
        <!--div class="workout" id="wrkt{{ workout.id }}" onclick="location.href='{{ url_for('main.edit_workout', workout=workout.id) }}';"-->
        <div class="workout" id="wrkt{{ workout.id }}">
            <table width="100%">
                <tr>
                    <td class="workout-header"  width="75%" rowspan="2">
                        <a class="workout_lnk" href="{{ url_for('main.workout', workout=workout.id) }}">
                            {{ workout.wrkt_dttm }}
                            &nbsp;-&nbsp;
                            {{ workout.type }}
                        </a>
                        &nbsp;
                        <a class="workout_lnk" style="text-decoration:underline;font-weight:normal;
                        font-size: 12pt;" href="{{ url_for('main.edit_workout', workout=workout.id) }}">
                            (edit)
                        </a>
                    </td>
                    <td class="workout-detail" style="text-align: right; " width="25%">
                        {{ workout.category }}
                    </td>
                </tr>
                <tr>
                    <td class="workout-detail" style="text-align: right;">
                        {% if workout.training_type != None %}
                        {{ workout.training_type }}
                        {% endif %}
                    </td>
                </tr>
            </table>
            <table width="100%" style="text-align: center;">
                <tr class="workout-detail">
                    <td width="25%">
                        &nbsp;
                    </td>
                    <td  class="workout-detail" width="100px">
                        Distance
                    </td>
                    <td class="workout-detail" width="100px" style="border-right: 1px gray solid; border-left: 1px gray solid">
                        Duration
                    </td>
                    <td class="workout-detail"  width="100px">
                        Pace
                    </td>
                    <td width="25%">
                        &nbsp;
                    </td>
                </tr>
                <tr class="workout-detail" >
                    <td>
                        &nbsp;
                    </td>
                    <td  class="workout-detail" >
                        {{ workout.dist_mi }} mi
                    </td>
                    <td class="workout-detail" style="border-right: 1px gray solid; border-left: 1px gray solid">
                        {{ workout.duration }}
                    </td>
                    <td class="workout-detail">
                        {{ workout.pace }} /mile
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            </table>
            <br>
            <table width="100%" style="text-align: left; ">
                <tr class="workout-detail">
                    <td width="100%">
                        Start: {{ workout.temp_strt }} degrees {{ workout.wethr_cond_strt }}, {{ workout.hmdty_strt }} percent humidity, wind speed {{ workout.wind_speed_strt }} mph, wind gust {{ workout.wind_gust_strt }}, feels like {{ workout.temp_feels_like_strt }}.
                    </td>
                </tr>
                <tr class="workout-detail">
                    <td >
                        End: {{ workout.temp_end }} degrees {{ workout.wethr_cond_end }}, {{ workout.hmdty_end }} percent humidity, wind speed {{ workout.wind_speed_end }} mph, wind gust {{ workout.wind_gust_end }}, feels like {{ workout.temp_feels_like_end }}.
                    </td>
                </tr>
            </table>
            <table width="100%" style="text-align: left; ">
                <tr class="workout-detail">
                    <td width="65%" class="workout-detail">
                        Wore: {{ workout.clothes }}
                    </td>
                    <td  class="workout-detail"  style="border-left: 1px gray solid; padding-left:10px">
                        {{ workout.gear }}
                    </td>
                </tr>
            </table>
            <table width="100%" style="text-align: left;">
                <tr class="workout-detail">
                    <td width="100%">
                        Notes: {{ workout.notes_summary }}
                    </td>
                </tr>
            </table>
        </div>
        <br>
{% endfor %}
