        <div class="workout_card" id="wrkt{{ workout.id }}">


            <div style="overflow:auto">
                <div class="workout-header" style="float: left; border:0px blue solid;">
                    <a class="workout_lnk" href="{{ url_for('main.workout', workout=workout.id) }}">
                        {{ workout.wrkt_dttm }}
                        &nbsp;-&nbsp;
                        {{ workout.type }}
                    </a>
                    &nbsp;
                    <a class="workout_edit_lnk"  href="{{ url_for('main.edit_workout', workout=workout.id) }}">
                        (edit)
                    </a>
                </div>
                <div class="workout-detail workout-detail-type" style="border:0px red solid;">
                    <div class="workout-detail-type-items">
                        {{ workout.category }}
                    </div>
                    {% if workout.training_type != None %}
                    <div class="workout-detail-type-items">
                        {{ workout.training_type }}
                    </div>
                    {% endif %}
                </div>
            </div>

            <div style="overflow:auto; width:100%;">
                <div class="workout-detail-measures-section">
                    <div class="workout-detail workout-detail-measures" style="border-right: 1px gray solid; ">
                        Distance<br>
                        {{ workout.dist_mi }}mi
                    </div>
                    <div class="workout-detail workout-detail-measures" style="border-right: 1px gray solid; ">
                        Duration<br>
                        {{ workout.duration }}
                    </div>
                    <div class="workout-detail workout-detail-measures" >
                        Pace<br>
                        {{ workout.pace }} /mi
                    </div>
                </div>
            </div>

            {% include '_weather_summary.html' %}

            <div style="overflow:auto; width:100%;">
                <div class="workout-detail" style="float:left;width:65%;">
                    Wore: {{ workout.clothes }}
                </div>
                <div class="workout-detail-shoe" >
                    {{ workout.gear }}
                </div>
            </div>

            {% if workout.notes_summary != "" %}
            <div style="width:100%; text-align:left;">
                {# Notes: {{ workout.notes_summary|truncate(10) }} #}
                Notes: {{ workout.notes_summary }}
            </div>
            {% endif %}
        </div>
        <br>
