<table>
    <tr style="font-weight:bold">
        <td class="workout-intrvl workout-intrvl-hdr" id="intrvl_det">
            {{ intrvl_nm }}
        </td>
        <td class="workout-intrvl workout-intrvl-hdr" id="intrvl_duration">
            Time
        </td>
        <td class="workout-intrvl workout-intrvl-hdr" id="intrvl_dist_mi">
            Dist{#<span class="hide_mobile">ance</span>#}
        </td>
        <td class="workout-intrvl workout-intrvl-hdr" id="intrvl_pace">
            Pace
        </td>
        <td class="workout-intrvl workout-intrvl-hdr" id="intrvl_hr">
            HR
        </td>
        <td class="workout-intrvl workout-intrvl-hdr " id="intrvl_elev">
            Elev
        </td>
    </tr>
{% for intrvl in intrvl_lst %}
    <tr class="{{ loop.cycle('workout_intrvl_odd','workout_intrvl_even') }}">
        <td class="workout-intrvl">
            {{ intrvl.det }}
        </td>
        <td class="workout-intrvl">
            {{ intrvl.duration }}
        </td>
        <td class="workout-intrvl">
            {% if intrvl.dist_mi %}
            {{ "%.2f"|format(intrvl.dist_mi|float) }}
            {% else %}
            &nbsp;
            {% endif %}
        </td>
        <td class="workout-intrvl {{ intrvl.pace_zone }}">
            {% if intrvl.pace %}
            {{ intrvl.pace }}
            {% else %}
            &nbsp;
            {% endif %}
        </td>
        <td class="workout-intrvl {{ intrvl.hr_zone }}">
            {% if intrvl.hr %}
            {{ intrvl.hr|round|int }}
            {% else %}
            &nbsp;
            {% endif %}
        </td>
        <td class="workout-intrvl ">
            {% if intrvl.ele_up %}
            {{ "%.0f"|format(intrvl.ele_up|float) }}↑<br/>
            {{ "%.0f"|format(intrvl.ele_down|abs|float)  }}↓
            {% else %}
            &nbsp;
            {% endif %}
        </td>
    </tr>
{% endfor %}
{% if intrvl_sum_lst|length >0 %}
    {% for intrvl_sum in intrvl_sum_lst %}
    <tr>
        <td class="workout-intrvl workout_intrvl_sum">
            {{ intrvl_sum.det }}
        </td>
        <td class="workout-intrvl workout_intrvl_sum">
            {{ intrvl_sum.duration }}
        </td>
        <td class="workout-intrvl workout_intrvl_sum">
            {% if intrvl_sum.dist_mi %}
            {{ "%.2f"|format(intrvl_sum.dist_mi|float) }}
            {% else %}
            &nbsp;
            {% endif %}
        </td>
        <td class="workout-intrvl workout_intrvl_sum">
            {% if intrvl_sum.pace %}
            {{ intrvl_sum.pace }}
            {% else %}
            &nbsp;
            {% endif %}
        </td>
        <td class="workout-intrvl workout_intrvl_sum">
            {% if intrvl_sum.hr %}
            {{ intrvl_sum.hr|round|int }}
            {% else %}
            &nbsp;
            {% endif %}
        </td>
        <td class="workout-intrvl workout_intrvl_sum ">
            {% if 'ele_up' in intrvl_sum %}
            {{ "%.0f"|format(intrvl_sum.ele_up|float) }}↑<br/>
            {{ "%.0f"|format(intrvl_sum.ele_down|abs|float) }}↓
            {% else %}
            &nbsp;
            {% endif %}            
        </td>
    </tr>
    {% endfor %}
{% endif %}
</table>
