<table>
    <tr style="font-weight:bold">
        <td class="workout-intrvl workout-intrvl-hdr" id="intrvl_det">
            {{ intrvl_nm }}
        </td>
        <td class="workout-intrvl workout-intrvl-hdr" id="intrvl_duration">
            Time
        </td>
        <td class="workout-intrvl workout-intrvl-hdr" id="intrvl_dist_mi">
            Dist{#<span class="hide_mobile">ance</span>#}
        </td>
        <td class="workout-intrvl workout-intrvl-hdr" id="intrvl_pace">
            Pace
        </td>
        <td class="workout-intrvl workout-intrvl-hdr" id="intrvl_hr">
            HR
        </td>
        <td class="workout-intrvl workout-intrvl-hdr " id="intrvl_elev">
            Elev
        </td>
    </tr>
{% for intrvl in intrvl_lst %}
    <tr class="{{ loop.cycle('workout_intrvl_odd','workout_intrvl_even') }}">
        <td class="workout-intrvl">
            {{ intrvl.det }}
        </td>
        <td class="workout-intrvl">
            {{ intrvl.duration }}
        </td>
        <td class="workout-intrvl">
            {{ intrvl.dist_mi }}
        </td>
        <td class="workout-intrvl {{ intrvl.pace_zone }}">
            {{ intrvl.pace }}
        </td>
        <td class="workout-intrvl {{ intrvl.hr_zone }}">
            {{ intrvl.hr }}
        </td>
        <td class="workout-intrvl ">
            {{ "%.0f"|format(intrvl.ele_up|float) }}↑<br/>
            {{ "%.0f"|format(intrvl.ele_down|abs|float)  }}↓
        </td>
    </tr>
{% endfor %}
{% if intrvl_sum_lst|length >0 %}
    {% for intrvl_sum in intrvl_sum_lst %}
    <tr>
        <td class="workout-intrvl workout_intrvl_sum">
            {{ intrvl_sum.det }}
        </td>
        <td class="workout-intrvl workout_intrvl_sum">
            {{ intrvl_sum.duration }}
        </td>
        <td class="workout-intrvl workout_intrvl_sum">
            {{ "%.2f"|format(intrvl_sum.dist_mi|float) }}
        </td>
        <td class="workout-intrvl workout_intrvl_sum">
            {{ intrvl_sum.pace }}
        </td>
        <td class="workout-intrvl workout_intrvl_sum">
            {{ intrvl_sum.hr|round|int }}
        </td>
        <td class="workout-intrvl workout_intrvl_sum ">
            {{ "%.0f"|format(intrvl_sum.ele_up|float) }}↑
            {{ "%.0f"|format(intrvl_sum.ele_down|abs|float) }}↓
        </td>
    </tr>
    {% endfor %}
{% endif %}
</table>
