{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block app_content %}

<form action="" role="form" class="form" style="margin-top:15px;">
    <label>
        <input type="checkbox" id="save_cookie" name="save_cookie" onclick="cookieChk()">
        Remember calculations
    </label>
</form>

<fieldset class="wrkt_det " style="margin-top:3px;">
    <legend class="wrkt_det">
        Calculate pace from distance and time
    </legend>
    <div style="overflow:auto; width:100%; margin-top:20px; padding-left:5px;">
        <form action="JavaScript:calcPace()" method="post" role="form" class="form">
            <div class="form-row " style="width:100%; ">
                {{ form.hidden_tag() }}
                <div class="form-group" style="margin-right:25px;">
                    <label>Distance: </label><br>
                    <input class="calc_field_3" type="number" id="cp_distance" name="distance" step="0.01" required>
                </div>
                <div class="form-group">
                    <label>Time: </label><br>
                    <input class="calc_field_2" type="number" id="cp_time_h" name="time_h" min=0>
                    <label>h </label>
                    <input class="calc_field_2" type="number" id="cp_time_m" name="time_m" min=0>
                    <label>m </label>
                    <input class="calc_field_2" type="number" id="cp_time_s" name="time_s" min=0>
                    <label>s </label>

                </div>
                <div class="form-group calc_result">
                    <label>Pace: </label>
                    <input class="calc_field_result" type="text" id="cp_pace" name="pace" disabled>
                </div>
            </div>
            <div class="form-row" style="width:100%; ">
                <!-- <input type="button" value="calculate" onclick="calcPace()">
                <br> -->
                <input type="submit" value="Calculate">
                <!-- <input type="button" value="Saved Values" onclick="getCalcPacePrevious()"> -->
            </div>
        </form>
    </div>
</fieldset>

<fieldset class="wrkt_det " style="margin-top:8px;">
    <legend class="wrkt_det">
        Calculate time from distance and pace
    </legend>
    <div style="overflow:auto; width:100%; margin-top:20px;">
        <form action="JavaScript:calcTime()" method="post" role="form" class="form">
            <div class="form-row " style="width:90%; margin-left:5px;">

                {{ form.hidden_tag() }}
                <!-- Search Fields -->
                <div class="form-group" style="margin-right:25px;">
                    <label>Distance: </label><br>
                    <input class="calc_field_3" type="number" id="ct_distance" name="distance" step="0.01" required>
                </div>
                <div class="form-group mr-2">
                    <label>Pace: </label><br>
                    <input class="calc_field_2" type="number" id="ct_pace_m" name="pace_m" min=0>
                    <label>m </label>
                    <input class="calc_field_2" type="number" id="ct_pace_s" name="pace_s" min=0 max=59>
                    <label>s </label>

                </div>
                <div class="form-group calc_result">
                    <label>Time: </label>
                    <input class="calc_field_result" type="text" id="ct_time" name="time" size=8 disabled>
                </div>
            </div>
            <div class="form-group" style="margin-left:5px;">
                <input type="submit" value="Calculate">
            </div>
        </form>
    </div>
</fieldset>

<fieldset class="wrkt_det " style="margin-top:8px;">
    <legend class="wrkt_det">
        Calculate pace based on desired pace and temperature
    </legend>
    <div style="overflow:auto; width:100%; margin-top:20px;">
        <form action="JavaScript:calcPaceHeat()" method="post" role="form" class="form">
            <div class="form-row " style="width:90%; margin-left:5px;">

                {{ form.hidden_tag() }}
                <div class="form-group" style="margin-right:25px;">
                    <label>Temperature: </label><br>
                    <input class="calc_field_3" type="number" id="cpt_temperature" name="distance" step="1" required>
                </div>
                <div class="form-group mr-2">
                    <label>Pace: </label><br>
                    <input class="calc_field_2" type="number" id="cpt_desired_pace_m" name="pace_m" min=0>
                    <label>m </label>
                    <input class="calc_field_2" type="number" id="cpt_desired_pace_s" name="pace_s" min=0 max=59>
                    <label>s </label>

                </div>
                <div class="form-group calc_result">
                    <label>Adjusted Pace: </label>
                    <input class="calc_field_result" type="text" id="cpt_adjusted_pace" name="time" disabled>
                </div>
                <!-- <div class="form-group ml-4 mr-2">
                    <label>Adjusted Time: </label><br>
                    <input type="text" id="cpt_adjusted_time" name="time" size=8 disabled>
                </div> -->
            </div>
            <div class="form-group" style="margin-left:5px;">
                <!-- <input type="button" value="calculate" onclick="calcPace()">
                <br> -->
                <input type="submit" value="Calculate">
            </div>
        </form>
    </div>
    <div>
        Logic is from <a href="https://www.podiumrunner.com/training/how-much-does-heat-slow-your-race-pace/?utm_source=facebook&utm_medium=podiumrunner&utm_campaign=4bdcc7d1-bcc6-4195-8195-19bb3c246c97" target="_blank">Podium Runner</a>
    </div>
</fieldset>


{% endblock %}
