{% extends "base.html" %}
{% from 'bootstrap4/form.html' import render_form %}

{% block app_content %}

<div class="dashboard_page">

    {% if dash_lst_dict['yrly_running_lst'] %}
    {% with widget_data = dash_lst_dict['yrly_running_lst'][0] %}
    {% include 'dashboard_widgets/_yearly_run_goal_widget.html' %}
    {% endwith %}
    {% endif %}

    {% if dash_lst_dict['wrkt_sum_lst'] %}
    {% include 'dashboard_widgets/_running_mileage_widget.html' %}
    {% endif %}

    {% if dash_lst_dict['gear_lst'] %}
    {% include 'dashboard_widgets/_gear_usage_widget.html' %}
    {% endif %}


    {# Fitness Goals for 2022 #}
    {% if dash_lst_dict['yrly_goals_lst'] %}
    {% include 'dashboard_widgets/_yearly_goal_widget.html' %}
    {% endif %}

    {% include 'dashboard_widgets/_yearly_goal_chart_widget.html' %}

    {% if dash_lst_dict['wkly_mileage_lst'] %}
    {% include 'dashboard_widgets/_running_weekly_mileage_widget.html' %}
    {% endif %}

    {% if dash_lst_dict['yrly_workout_lst'] %}
    {% with widget_data = dash_lst_dict['yrly_workout_lst'] %}
    {% include 'dashboard_widgets/_yearly_workout_widget.html' %}
    {% endwith %}
    {% endif %}

    {% if dash_lst_dict['nxt_gear'] %}
    {% include 'dashboard_widgets/_next_gear_widget.html' %}
    {% endif %}

    {% if dash_lst_dict['long_run_splits'] %}
    {% include 'dashboard_widgets/_long_run_widget.html' %}
    {% endif %}
    
    {% if dash_lst_dict['yrly_running_lst'] %}
    {% with widget_data = dash_lst_dict['yrly_running_lst'] %}
    {% include 'dashboard_widgets/_yearly_workout_widget.html' %}
    {% endwith %}
    {% endif %}
        
    {% if dash_lst_dict['yrly_cycling_lst'] %}
    {% with widget_data = dash_lst_dict['yrly_cycling_lst'] %}
    {% include 'dashboard_widgets/_yearly_workout_widget.html' %}
    {% endwith %}
    {% endif %}

    {% if dash_lst_dict['moly_run_mileage'] %}
    {% with widget_data = dash_lst_dict['moly_run_mileage'] %}
    {% include 'dashboard_widgets/_monthly_mileage_widget.html' %}
    {% endwith %}
    {% endif %}
    
    {% if dash_lst_dict['moly_cycle_mileage'] %}
    {% with widget_data = dash_lst_dict['moly_cycle_mileage'] %}
    {% include 'dashboard_widgets/_monthly_mileage_widget.html' %}
    {% endwith %}
    {% endif %}

    {% if dash_lst_dict['yrly_strength_lst'] %}
    {% with widget_data = dash_lst_dict['yrly_strength_lst'] %}
    {% include 'dashboard_widgets/_yearly_workout_widget.html' %}
    {% endwith %}
    {% endif %}


    <!-- <div style="overflow:auto; width:100%; ">
    </div> -->

    {#
    {% if dash_lst_dict['yrly_mileage_lst'] %}
    {% include 'dashboard_widgets/_yearly_mileage_widget.html' %}
    {% endif %}
    #}


    
    {#
    <div id="monthly_mileage_bar" style="overflow:auto; width:75%; ">
    </div>#}
    
 
    {#
    <div id="donut"></div>
    <div >
         <button id="everyone">Everyone surveyed</button>
         <button id="women">Only women surveyed</button>
         <button id="men">Only men surveyed</button>
    </div>
    #}

</div>

{#
<script>
    month_mileage_lst = {{ dash_lst_dict['moly_mileage_lst']|tojson|safe }};
</script>

<script type="module" src="{{ url_for('static', filename='js/viz_dashboard.mjs') }}"></script>
#}
<script>
    initGoalChart({{ dash_lst_dict['yrly_goals_dict_lst']|tojson|safe }});
    // initOneRingChart({{ dash_lst_dict['yrly_goals_dict_lst']|tojson|safe }});
    initOneRingChart({{ dash_lst_dict['yrly_running_lst']['data'][0].to_dict()|tojson|safe }}); 
    // init_donut_chart();
</script>


{% endblock %}
