{% extends "base.html" %}

{% block app_content %}
<div style="overflow:auto; width:100%; margin-top:20px;">

    <h1>{{ label_val }}</h1>
    <div class="row mb-5 dashboard_widget" style="margin-left:0px;">
        <div class="col-md-12">
            <form action="" method="post">
                {{ gear_form.hidden_tag() }}
                <div class="form-row">
                    <div class="form-group mr-4">
                        {{ gear_form.nm.label(class="workout_lbl") }}
                        <br>
                        {{ gear_form.nm(size=31) }}<br>
                        {% for error in gear_form.nm.errors %}
                        <span style="color: red;">
                            [{{ error }}]
                        </span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group mr-3">
                        {{ gear_form.type.label(class="workout_lbl") }}<br>
                        {{ gear_form.type(style="width:150px;") }}<br>
                        {% for error in gear_form.type.errors %}
                        <span style="color: red;">
                            [{{ error }}]
                        </span>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        {{ gear_form.company.label(class="workout_lbl") }}
                        <br>
                        {{ gear_form.company(size=13) }}<br>
                        {% for error in gear_form.company.errors %}
                        <span style="color: red;">
                            [{{ error }}]
                        </span>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group mr-4">
                        {{ gear_form.price.label(class="workout_lbl") }}
                        <br>
                        {{ gear_form.price(size=5) }}<br>
                        {% for error in gear_form.price.errors %}
                        <span style="color: red;">
                            [{{ error }}]
                        </span>
                        {% endfor %}
                    </div>

                    <div class="form-group mr-4">
                        {{ gear_form.prchse_dt.label(class="workout_lbl") }}
                        <br>
                        {{ gear_form.prchse_dt() }}<br>
                        {% for error in gear_form.prchse_dt.errors %}
                        <span style="color: red;">
                            [{{ error }}]
                        </span>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group mr-5">
                        {{ gear_form.retired }} {{ gear_form.retired.label }}
                    </div>
                    <div class="form-group mr-4">
                        {{ gear_form.confirmed }} {{ gear_form.confirmed.label }}
                    </div>
                </div>

                <div>
                    {{ gear_form.submit(class='mr-3') }}
                    {{ gear_form.cancel(class='mr-3') }}
                </div>

            </form>

        </div>
    </div>

    {% if gear_usage != None %}
    <div class="dashboard_widget">
        <fieldset class="wrkt_det pb-4">
            <legend class="wrkt_det">
                Usage
            </legend>

            <span style="font-weight:bold;font-size: 12pt;">
                {{ gear_usage.nm }}
            </span><br>
            Used {{ gear_usage.usage_count }} times<br>
            {{ gear_usage.tot_dist }} miles for {{ gear_usage.tot_dur }}<br>
            Last Used:
            {% if gear_usage.latest_workout != None %}
            {{ gear_usage.latest_workout.strftime('%Y-%m-%d') }}
            {% else %}
            &nbsp;
            {% endif %}<br>
            First Use:
            {% if gear_usage.latest_workout != None %}
            {{ gear_usage.first_workout.strftime('%Y-%m-%d') }}
            {% else %}
            &nbsp;
            {% endif %}<br>
        </<fieldset>

    </div>
    {% endif %}

</div>
{% endblock %}
