{% extends "base.html" %}

{% block app_content %}
    <div  class="workout_hdr">
        <header class="workout " style="overflow:auto; display: flex; ">
            <div  class="workout_hdr_type">
                Generate Workout Route
            </div>
        </header>
    </div>

    <div class="wrktPage_map" >
        {% if 'zoom' in map_dict %}
        <div id="map" style="height:600px;">
        </div>
        <script>
            JavaScript:showMap({{ map_json|tojson|safe }}, true);
        </script>
        {% endif %}
    </div>

    {#
    {% if wrkt_data_lst|length >0 %}

    <div id="elevation_chart">
        <div id="tooltip" class="tooltip">
            <div id="duration" class="tip_header"></div>
            <div id="elevation"></div>
            <div id="distance"></div>
            <div id="heartrate"></div>
            <div id="pace"></div>
            <div id="duration"></div>
        </div>
        <div class="chart_legend">
            <span class="elevation_legend">Elevation (ft)</span>
            <span class="pace_legend">Pace (minutes per mile)</span>
            <span class="heart_rate_legend">Heart Rate</span>
        </div>
    </div>
    <script>
        JavaScript:initChart({{ wrkt_data_lst|tojson|safe }}, {{ wrkt_miles_dict|tojson|safe }} );
    </script>
    {% endif %}
    #}



{% endblock %}
