{% extends "base.html" %}

{% block app_content %}
    <div class="home_section home_section_1" style="overflow:auto">
        <h2 class="home">About Me</h2>
        <div class="about_body">
            <p>
                Hi I am Mike Bromberek. I have worked at Caterpillar as an IT Analyst for 15 years. During my time I have supported different warehouse and transportation systems and written programs in COBOL and Java to work with those systems. Currently I focus on integrating data from different systems into a Data Warehouse.
            </p>
            <p>
                I have been learning Python and Flask for the last few years. I have built APIs for storing and updating my workouts in a database.
            </p>
            <p>
                I love running! My fastest Marathon time is 3 hours 20 minutes and 53 seconds and I am currently training to run my 6th Marathon this fall.
            </p>
        </div>
        <div class="about_img" >
            <img src="static/images/Whiskey_Daddle_Marathon_Race.jpeg" width="300px" height="384px" alt="Mike Running" />
        </div>
    </div>

    <div class="home_section home_section_2 " style="overflow:auto;padding-bottom:20px;">
        <h2 class="home">My cat Pixel</h2>
        <div class="cat_img" >
            <img src="static/images/pixel/Pixel_cat_on_bathroom_door_box.jpg" width="500px" height="500px" alt="Cat Pixel on door" />
        </div>
        <div class="cat_body">
            <p>
                Pixel took over my house in October 2016.
            </p>
            <p>
                The vet said Pixel's hips were out of alignment from an accident but had healed so he is not in pain but will not be able to jump as much. I thought that meant I would not have to worry about him jumping on tables and things, that lasted a week.
            </p>
        </div>
    </div>
    <div class="home_section home_section_2 " style="overflow:auto;padding-top:0px;">
        <div class="cat_img_left">
            <img src="static/images/pixel/Pixel_cat_new_feeder.jpg" width="398px" height="500px" alt="Cat Pixel eating feeder" />
        </div>
        <div class="cat_img_right">
            <img src="static/images/pixel/Pixel_cat_on_treadmill.jpeg" width="375px" height="500px" alt="Cat Pixel on Treadmill" />
        </div>
    </div>



    <div class="home_section home_section_1 " >
        <h2 class="home">Programming Skills</h2>
        <div class="skills" style="overflow:auto; ">
        <div class="skills_item">
            <img src="static/images/java-icon.png" width="85" height="85" alt="Java" title="Java">
        </div>
        <div class="skills_item">
            <img src="static/images/Oracle-SQL-icon.png" width="85" height="85" alt="SQL" title="SQL">
        </div>
        <div class="skills_item">
            <!--Python
            <br>-->
            <img src="static/images/Python_icon.png" width="85" height="85" alt="Python" title="Python">
        </div>
        <div class="skills_item">
            <img src="static/images/html-icon-512x512.png" width="85" height="85" alt="HTML" title="HTML">
        </div>
        <div class="skills_item">
            <img src="static/images/flask-icon.png" width="85" height="85" alt="Python Flask" title="Python Flask">
        </div>
        </div>
    </div>

    <!-- <div class="home_section home_section_2 ">
        <h2 class="home">Programming Skills</h2>
        <div class="form-inline field_row" style="text-align:center">
            <div class="form-group" style="width:110px; text-align:center">
                <img src="static/images/java-icon.png" width="85" height="85" alt="Java" title="Java">
            </div>
            <div class="form-group" style="width:110px; text-align:center">
                <img src="static/images/Oracle-SQL-icon.png" width="85" height="85" alt="SQL" title="SQL">
            </div>
            <div class="form-group" style="width:110px; text-align:center" alt="Python" title="Python">
                Python
                <br>
                <img src="static/images/Python_icon.png" width="85" height="85" >
            </div>
            <div class="form-group" style="width:110px; text-align:center">
                <img src="static/images/html-icon-512x512.png" width="85" height="85" alt="HTML" title="HTML">
            </div>

            <div class="form-group" style="width:110px; text-align:center">
                <img src="static/images/flask-icon.png" width="85" height="85" alt="Python Flask" title="Python Flask">
            </div>
        </div>
    </div> -->
{#
    <div class="home_section home_section_2 ">
        <h2 class="home">Workout Summaries</h2>
    </div>
#}
{#
    <div class="home_section home_section_1 ">
        <h2 class="home">Book reading</h2>

        <div id="gr_challenge_11650" style="border: 2px solid #EBE8D5; border-radius:10px; padding: 0px 7px 0px 7px; max-width:230px; min-height: 100px">
          <div id="gr_challenge_progress_body_11650" style="font-size: 12px; font-family: georgia,serif;line-height: 18px">
            <h3 style="margin: 4px 0 10px; font-weight: normal; text-align: center">
              <a style="text-decoration: none; font-family:georgia,serif;font-style:italic; font-size: 1.1em" rel="nofollow" href="https://www.goodreads.com/challenges/11650-2021-reading-challenge">2021 Reading Challenge</a>
            </h3>
                <div class="challengePic">
                  <a rel="nofollow" href="https://www.goodreads.com/challenges/11650-2021-reading-challenge"><img alt="2021 Reading Challenge" style="float:left; margin-right: 10px; border: 0 none" src="https://images.gr-assets.com/challenges/1608245803p2/11650.jpg" /></a>
                </div>
              <div>
                <a rel="nofollow" href="https://www.goodreads.com/user/show/15679231-mike">Mike</a> has
                     read 11 books toward
                     their goal of
                     15 books.
              </div>
              <div style="width: 100px; margin: 4px 5px 5px 0; float: left; border: 1px solid #382110; height: 8px; overflow: hidden; background-color: #FFF">
                <div style="width: 73%; background-color: #D7D2C4; float: left"><span style="visibility:hidden">hide</span></div>
              </div>
              <div style="font-family: arial, verdana, helvetica, sans-serif;font-size:90%">
                <a rel="nofollow" href="https://www.goodreads.com/user_challenges/25234370">11 of 15 (73%)</a>
              </div>
                <div style="text-align: right;">
                  <a style="text-decoration: none; font-size: 10px;" rel="nofollow" href="https://www.goodreads.com/user_challenges/25234370">view books</a>
                </div>
          </div>
        	<script src="https://www.goodreads.com/user_challenges/widget/15679231-mike?challenge_id=11650&v=2"></script>
        </div>


        <style type="text/css" media="screen">
          .gr_grid_container {
            /* customize grid container div here. eg: width: 500px; */
          }

          .gr_grid_book_container {
            /* customize book cover container div here */
            float: left;
            width: 98px;
            height: 160px;
            padding: 0px 0px;
            overflow: hidden;
          }
        </style>
        <div id="gr_grid_widget_1625002104">
          <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
              <h2>
        <a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/review/list/15679231-mike?shelf=read&utm_medium=api&utm_source=grid_widget">Mike's bookshelf: read</a>
      </h2>
    <div class="gr_grid_container">
      <div class="gr_grid_book_container"><a title="Project Hail Mary" rel="nofollow" href="https://www.goodreads.com/book/show/54493401-project-hail-mary"><img alt="Project Hail Mary" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1597695864l/54493401._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="The Evolutionary Void" rel="nofollow" href="https://www.goodreads.com/book/show/7438179-the-evolutionary-void"><img alt="The Evolutionary Void" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1388292812l/7438179._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="The Temporal Void" rel="nofollow" href="https://www.goodreads.com/book/show/3437328-the-temporal-void"><img alt="The Temporal Void" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1357349093l/3437328._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="The Sinister Mystery of the Mesmerizing Girl (The Extraordinary Adventures of the Athena Club, #3)" rel="nofollow" href="https://www.goodreads.com/book/show/43663313-the-sinister-mystery-of-the-mesmerizing-girl"><img alt="The Sinister Mystery of the Mesmerizing Girl" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1551844385l/43663313._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="The Dreaming Void" rel="nofollow" href="https://www.goodreads.com/book/show/866136.The_Dreaming_Void"><img alt="The Dreaming Void" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1440047585l/866136._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="The House in the Cerulean Sea" rel="nofollow" href="https://www.goodreads.com/book/show/57312022-the-house-in-the-cerulean-sea"><img alt="The House in the Cerulean Sea" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1614902762l/57312022._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Moving Pictures (Discworld, #10; Industrial Revolution, #1)" rel="nofollow" href="https://www.goodreads.com/book/show/34510.Moving_Pictures"><img alt="Moving Pictures" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1320456553l/34510._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Eric (Discworld, #9)" rel="nofollow" href="https://www.goodreads.com/book/show/6567831-eric"><img alt="Eric" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1414941979l/6567831._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="The New And Improved Flask Mega-Tutorial" rel="nofollow" href="https://www.goodreads.com/book/show/38347626-the-new-and-improved-flask-mega-tutorial"><img alt="The New And Improved Flask Mega-Tutorial" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1517766522l/38347626._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Judas Unchained (Commonwealth Saga, #2)" rel="nofollow" href="https://www.goodreads.com/book/show/6336986-judas-unchained"><img alt="Judas Unchained" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1328308952l/6336986._SX98_.jpg" /></a></div>
      <br style="clear: both"/><br/><a class="gr_grid_branding" style="font-size: .9em; color: #382110; text-decoration: none; float: right; clear: both" rel="nofollow" href="https://www.goodreads.com/user/show/15679231-mike">Mike's favorite books »</a>
    <noscript><br/>Share <a rel="nofollow" href="/">book reviews</a> and ratings with Mike, and even join a <a rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
    </div>

        </div>
        <script src="https://www.goodreads.com/review/grid_widget/15679231.Mike's%20bookshelf:%20read?cover_size=medium&hide_link=&hide_title=&num_books=10&order=d&shelf=read&sort=date_read&widget_id=1625002104" type="text/javascript" charset="utf-8"></script>

    </div>
#}
{#
    <div class="home_section home_section_2 ">
        <h2 class="home">Programming Projects</h2>
    </div>
#}
{#
    <div class="home_section home_section_1 ">
        <h2 class="home">Contact</h2>
    </div>
#}
{% endblock %}
