{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block app_content %}

<div style="overflow:auto; width:100%; margin-top:20px;">

    <div class="dashboard_widget" style="border:2px black solid;padding:10px;">
        <form action="" method="post">
            <div class="form-row setting_hdr">
                Settings
            </div>
            <div class="form-row ">
                <div class="form-group setting_lbl">
                    {{ user_setting_form.displayname.label }}:
                </div>
                <div class="form-group">
                    {{ user_setting_form.displayname(disabled=True) }}
                    {% for error in user_setting_form.displayname.errors %}
                    <span style="color: red;">
                        [{{ error }}]
                    </span>
                    {% endfor %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group setting_lbl">
                    {{ user_setting_form.shoe_mile_warning.label }}:
                </div>
                <div class="form-group">
                    {{ user_setting_form.shoe_mile_warning }}
                    {% for error in user_setting_form.shoe_mile_warning.errors %}
                    <span style="color: red;">
                        [{{ error }}]
                    </span>
                    {% endfor %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group setting_lbl">
                    {{ user_setting_form.shoe_mile_max.label }}:
                </div>
                <div class="form-group">
                    {{ user_setting_form.shoe_mile_max }}
                    {% for error in user_setting_form.shoe_mile_max.errors %}
                    <span style="color: red;">
                        [{{ error }}]
                    </span>
                    {% endfor %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group setting_lbl">
                    {{ user_setting_form.shoe_min_brkin_ct.label }}:
                </div>
                <div class="form-group">
                    {{ user_setting_form.shoe_min_brkin_ct }}
                    {% for error in user_setting_form.shoe_min_brkin_ct.errors %}
                    <span style="color: red;">
                        [{{ error }}]
                    </span>
                    {% endfor %}
                </div>
            </div>

            <div style="align:center;">
                {{ user_setting_form.submit(class='mr-3') }}
                {{ user_setting_form.cancel }}
            </div>

        </form>
    </div>

</div>

{#
<div style="overflow:auto; width:100%; margin-top:20px;">

    <div class="dashboard_widget" style="width:900px; border:2px black solid;padding:10px;">
        <form action="" method="post">

            <div class="form-row setting_hdr">
                Gear
            </div>
            <div class="form-group mt-3 mr-2" style="width:875px; height:500px;vertical-align:top;overflow-y:scroll;">

                <table>
                    <tr style="font-weight:bold">
                        <td class="workout-intrvl workout-intrvl-hdr" >
                            Name
                        </td>
                        <td class="workout-intrvl workout-intrvl-hdr" >
                            Purchase Date
                        </td>
                        <td class="workout-intrvl workout-intrvl-hdr">
                            Price
                        </td>
                        <td class="workout-intrvl workout-intrvl-hdr">
                            Retired
                        </td>
                        <td class="workout-intrvl workout-intrvl-hdr hide_mobile">
                            Gear Type
                        </td>
                        <td class="workout-intrvl workout-intrvl-hdr ">
                            Company
                        </td>
                    </tr>

                {% for gear in gear_form_lst %}
                    <tr>
                        {{ gear.hidden_tag() }}
                        <td class="workout-intrvl" >
                            {{ gear.nm(class="txt_field_size_30", disabled=True) }}
                        </td>
                        <td class="workout-intrvl" >
                            {{ gear.prchse_dt( disabled=True) }}
                        </td>
                        <td class="workout-intrvl">
                            {{ gear.price(class="txt_field_size_5", disabled=True) }}
                        </td>
                        <td class="workout-intrvl">
                            {{ gear.retired(disabled=True) }}
                        </td>
                        <td class="workout-intrvl ">
                            {{ gear.type(disabled=True) }}
                        </td>
                        <td class="workout-intrvl ">
                            {{ gear.company(class="txt_field_size_15", disabled=True) }}
                        </td>
                    </tr>
                {% endfor %}

                </table>
            </div>
        </form>
    </div>

</div>
#}


<div style="overflow:auto; width:100%; margin-top:20px;">

    <div class="dashboard_widget" style="width:900px; border:2px black solid;padding:10px;">
        <form action="" method="post">
            {#{{ form.hidden_tag() }} #}

            <div class="form-row setting_hdr">
                Gear
            </div>
            <div class="form-group mt-3 mr-2" style="width:875px; height:500px;vertical-align:top;overflow-y:scroll;">

                <table>
                    <tr style="font-weight:bold">
                        <td class="workout-intrvl workout-intrvl-hdr" >
                            Name
                        </td>
                        <td class="workout-intrvl workout-intrvl-hdr" >
                            Mileage
                        </td>
                        <td class="workout-intrvl workout-intrvl-hdr" >
                            Duration
                        </td>
                        <td class="workout-intrvl workout-intrvl-hdr">
                            Last Used
                        </td>
                        <td class="workout-intrvl workout-intrvl-hdr">
                            Retired
                        </td>
                        <td class="workout-intrvl workout-intrvl-hdr hide_mobile">
                            Gear Type
                        </td>
                        <td class="workout-intrvl workout-intrvl-hdr ">
                            Edit
                        </td>
                    </tr>

                {% for gear in gear_lst %}
                    <tr>
                        <td class="workout-intrvl {% if gear.retired==True %} retired {% endif %}" style="text-align:left;">
                            {{ gear.nm }}
                        </td>
                        <td class="workout-intrvl {% if gear.retired==True %} retired {% endif %}" >
                            {{ gear.tot_dist }}
                        </td>
                        <td class="workout-intrvl {% if gear.retired==True %} retired {% endif %}" >
                            {{ gear.tot_dur }}
                        </td>
                        <td class="workout-intrvl {% if gear.retired==True %} retired {% endif %}">
                            {% if gear.latest_workout != None %}
                            {{ gear.latest_workout.strftime('%Y-%m-%d') }}
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </td>
                        <td class="workout-intrvl {% if gear.retired==True %} retired {% endif %}"  >
                            {% if gear.retired == True %}
                            Y
                            {% else %}
                            N
                            {% endif %}
                        </td>
                        <td class="workout-intrvl {% if gear.retired==True %} retired {% endif %}">
                            {{ gear.type }}
                        </td>
                        <td class="workout-intrvl ">
                            <a class="workout_edit_lnk"  href="{{ url_for('main.edit_gear', gear=gear.gear_id) }}">
                                edit
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                </table>
            </div>
        </form>
    </div>

</div>

{% endblock %}
