{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}
{% from 'bootstrap/utils.html' import render_icon %}

{% block app_content %}

<div class="default_page">
<div style="overflow:auto; width:100%; margin-top:20px;">

    <div class="dashboard_widget" style="border:2px black solid;padding:10px;">
        <form action="" method="post">
            <div class="form-row setting_hdr">
                Settings
            </div>
            <div class="form-row ">
                <div class="form-group setting_lbl">
                    {{ user_setting_form.displayname.label }}:
                </div>
                <div class="form-group">
                    {{ user_setting_form.displayname(disabled=True) }}
                    {% for error in user_setting_form.displayname.errors %}
                    <span style="color: red;">
                        [{{ error }}]
                    </span>
                    {% endfor %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group setting_lbl">
                    {{ user_setting_form.shoe_mile_warning.label }}:
                </div>
                <div class="form-group">
                    {{ user_setting_form.shoe_mile_warning }}
                    {% for error in user_setting_form.shoe_mile_warning.errors %}
                    <span style="color: red;">
                        [{{ error }}]
                    </span>
                    {% endfor %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group setting_lbl">
                    {{ user_setting_form.shoe_mile_max.label }}:
                </div>
                <div class="form-group">
                    {{ user_setting_form.shoe_mile_max }}
                    {% for error in user_setting_form.shoe_mile_max.errors %}
                    <span style="color: red;">
                        [{{ error }}]
                    </span>
                    {% endfor %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group setting_lbl">
                    {{ user_setting_form.shoe_min_brkin_ct.label }}:
                </div>
                <div class="form-group">
                    {{ user_setting_form.shoe_min_brkin_ct }}
                    {% for error in user_setting_form.shoe_min_brkin_ct.errors %}
                    <span style="color: red;">
                        [{{ error }}]
                    </span>
                    {% endfor %}
                </div>
            </div>

            <div style="align:center;">
                {{ user_setting_form.submit(class='mr-3') }}
                {{ user_setting_form.cancel }}
            </div>

        </form>
    </div>

    {% if api_key_lst|length >0 %}
    <div class="dashboard_widget" style="border:2px black solid;padding:10px;">
        <form action="" method="post">
            <div class="form-row setting_hdr">
                Keys
            </div>
            {% for token in api_key_lst %}
            <div style="height:50px;padding-top:10px;padding-bottom:10px;">
                <span style="font-weight:bold;padding-right: 5px;">
                    {{ token.description }}:
                </span>
                <span class="copy_btn" style=" margin-right: 10px; height:100%;" onclick="navigator.clipboard.writeText('{{ token.key }}')">
                    {{ token.key_part }}
                    {{ render_icon('clipboard-plus', size='22px') }}
                </span>
                <span style="">
                    Exp: {{ token.expiration.strftime('%Y-%m-%d') }}
                </span>
                <span >
                    <button id="submit_full_regen" name="submit_full_regen" type="submit" title="Generate new token">
                        {{ render_icon('arrow-clockwise', size='22px') }}
                    </button>

                </span>
            </div>
            {% endfor %}
        </form>
    </div>

    {% endif %}
</div>



<div style="overflow:auto; width:100%; margin-top:20px;">

    <div class="dashboard_widget" style="width:900px; border:2px black solid;padding:10px;">
        <div class="form-row setting_hdr" style="overflow:auto;">
            <div style="margin-left:auto;margin-right:auto;">
                Gear
            </div>
            <div style="margin-left:auto;margin-right:10px;">
                <a class="workout_edit_lnk"  href="{{ url_for('main.edit_gear') }}">
                    Create
                </a>
            </div>
        </div>

        <div class="form-group mt-3 mr-2" style="width:875px; height:400px;vertical-align:top;overflow-y:scroll;">

            <table>
                <tr style="font-weight:bold">
                    <td class="workout-intrvl workout-intrvl-hdr" >
                        Name
                    </td>
                    <td class="workout-intrvl workout-intrvl-hdr" >
                        Count
                    </td>
                    <td class="workout-intrvl workout-intrvl-hdr" >
                        Distance
                    </td>
                    <td class="workout-intrvl workout-intrvl-hdr" >
                        Duration
                    </td>
                    <td class="workout-intrvl workout-intrvl-hdr">
                        Last Used
                    </td>
                    <td class="workout-intrvl workout-intrvl-hdr hide_mobile">
                        Retired
                    </td>
                    <td class="workout-intrvl workout-intrvl-hdr ">
                        Gear Type
                    </td>
                </tr>

            {% for gear in gear_lst %}
                <tr>
                    <td class="workout-intrvl {% if gear.retired==True %} retired {% endif %}" style="text-align:left;">
                        <a class="workout_edit_lnk"  href="{{ url_for('main.edit_gear', gear=gear.gear_id) }}">
                            {{ gear.nm }}
                        </a>
                    </td>
                    <td class="workout-intrvl {% if gear.retired==True %} retired {% endif %}" >
                        {% if gear.usage_count != None %}
                        {{ gear.usage_count }}
                        {% else %}
                        0
                        {% endif %}
                    </td>
                    <td class="workout-intrvl {% if gear.retired==True %} retired {% endif %}" >
                        {% if gear.tot_dist != None %}
                        {{ gear.tot_dist }}
                        {% else %}
                        0
                        {% endif %}
                    </td>
                    <td class="workout-intrvl {% if gear.retired==True %} retired {% endif %}" >
                        {{ gear.tot_dur }}
                    </td>
                    <td class="workout-intrvl {% if gear.retired==True %} retired {% endif %}">
                        {% if gear.latest_workout != None %}
                        {{ gear.latest_workout.strftime('%Y-%m-%d') }}
                        {% else %}
                        &nbsp;
                        {% endif %}
                    </td>
                    <td class="workout-intrvl {% if gear.retired==True %} retired {% endif %} hide_mobile"  >
                        {% if gear.retired == True %}
                        Y
                        {% else %}
                        N
                        {% endif %}
                    </td>
                    <td class="workout-intrvl {% if gear.retired==True %} retired {% endif %}">
                        {{ gear.type }}
                    </td>
                </tr>
            {% endfor %}

            </table>
        </div>
    </div>

</div>

<div style="overflow:auto; width:100%; margin-top:20px;">

    <div class="dashboard_widget" style="width:900px; border:2px black solid;padding:10px;">
        <div class="form-row setting_hdr" style="overflow:auto;">
            <div style="margin-left:auto;margin-right:auto;padding-right:200px;">
                Locations
            </div>
            {#
            <div style="margin-left:auto;margin-right:10px;">
                <a class="workout_edit_lnk"  href="{{ url_for('main.edit_gear') }}">
                    Create
                </a>
            </div>
            #}
        </div>

        <div class="form-group mt-3 mr-2" style="width:875px; height:400px;vertical-align:top;overflow-y:scroll;">

            <table>
                <tr style="font-weight:bold">
                    <td class="workout-intrvl workout-intrvl-hdr" style="width:350px;" >
                        Name
                    </td>
                    <td class="workout-intrvl workout-intrvl-hdr" >
                        Latitude
                    </td>
                    <td class="workout-intrvl workout-intrvl-hdr" >
                        Longitude
                    </td>
                    <td class="workout-intrvl workout-intrvl-hdr" >
                        Radius (miles)
                    </td>
                </tr>

            {% for loc in loc_lst %}
                <tr>
                    <td class="workout-intrvl " style="text-align:left;">
                        <a class="workout_edit_lnk"  href="{{ url_for('main.edit_location', location=loc.id) }}">
                            {{ loc.name }}
                        </a>
                    </td>
                    <td class="workout-intrvl " >
                        {{ '%0.12f'|format(loc.lat|float) }}
                    </td>
                    <td class="workout-intrvl " >
                        {{ '%0.12f'|format(loc.lon|float) }}
                    </td>
                    <td class="workout-intrvl " >
                        {{ '%0.2f'|format(loc.radius|float) }}
                    </td>
                </tr>
            {% endfor %}

            </table>
        </div>
    </div>

</div>
</div>

{% endblock %}
