{% extends "base.html" %}

{% block app_content %}
    <header class="workout " style="overflow:auto; display: flex; ">
        <div  style="width:430px; overflow: hidden; ">
            {{ workout.type }}, {{ workout.wrkt_dttm.strftime('%Y-%m-%d %H:%M:%S') }}
        </div>
        <div style="width:100px; overflow: hidden; float:right" >
            <a class="workout_lnk" style="font-weight:normal;font-size: 12pt;" href="{{ url_for('main.edit_workout', workout=workout.id) }}">
                edit
            </a>
        </div>
    </header>
    <div class="wrkt_type_description">
        {{ workout.category }}
        {% if workout.training_type != None %}
        - {{ workout.training_type }}
        {% endif %}
        {% if workout.location != None %}
        - {{workout.location}}
        {% endif %}
    </div>

    <div class="form-row wrkt_section" >
        <fieldset class="wrkt_det pb-4">
            <legend class="wrkt_det">
                Total
            </legend>
    <table width="100%" style="text-align: center;">
        <tr class="workout-detail" style="border-bottom: 1px gray solid;">
            <td  class="workout-detail" width="100px">
                Distance <br>
                {{ workout.dist_mi }} mi
            </td>
            <td class="workout-detail" width="100px" style="border-right: 1px gray solid; border-left: 1px gray solid">
                Duration <br>
                {{ workout.duration }}
            </td>
            <td class="workout-detail"  width="100px" >
                Pace <br>
                {{ workout.pace }} /mile
            </td>
        </tr>
        <tr class="workout-detail" >
            <td  class="workout-detail" >
                Elevation<br>
                {% if workout.ele_up != None %}
                {{ workout.ele_up|round|int }}&uarr;&nbsp;
                {% endif %}
                {% if workout.ele_down != None %}
                {{ workout.ele_down|round|int }}&darr;
                {% endif %}
            </td>
            <td class="workout-detail" style="border-right: 1px gray solid; border-left: 1px gray solid">
                Calories<br>
                {{ workout.cal_burn }}
            </td>
            <td class="workout-detail" >
                Heart Rate <br>
                {{ workout.hr }}
            </td>
        </tr>
    </table>
    </fieldset>
    </div>

    {% if workout.temp_strt != None %}
    <div class="form-row wrkt_section" >
        <fieldset class="wrkt_det">
            <legend class="wrkt_det">
                Weather
            </legend>
            {% include '_weather_summary.html' %}
        </fieldset>
    </div>
    {% endif %}

    {% if workout.intrvl_tot_dist_mi != None %}
    <div class="form-row wrkt_section">
        <fieldset class="wrkt_det">
            <legend class="wrkt_det">
                Training Summary
            </legend>
            <div class="form-row">
                <table width="100%" style="text-align: center;">
                    <tr class="workout-detail">
                        <td width="100px">
                            &nbsp;
                        </td>
                        <td  class="workout-detail" width="100px">
                            Distance
                        </td>
                        <td class="workout-detail" width="100px" style="border-right: 1px gray solid; border-left: 1px gray solid">
                            Duration
                        </td>
                        <td class="workout-detail"  width="100px">
                            Pace
                        </td>
                    </tr>
                    <tr class="workout-detail" >
                        <td>
                            Warm Up:
                        </td>
                        <td  class="workout-detail" >
                            {{ workout.warm_up_tot_dist_mi }} mi
                        </td>
                        <td class="workout-detail" style="border-right: 1px gray solid; border-left: 1px gray solid">
                            {{ workout.warm_up_dur_str }}
                        </td>
                        <td class="workout-detail">
                            {{ workout.warm_up_pace }} /mile
                        </td>
                    </tr>
                    <tr class="workout-detail" >
                        <td >
                            Intervals:
                        </td>
                        <td  class="workout-detail" >
                            {{ workout.intrvl_tot_dist_mi }} mi
                        </td>
                        <td class="workout-detail" style="border-right: 1px gray solid; border-left: 1px gray solid">
                            {{ workout.intrvl_dur_str }}
                        </td>
                        <td class="workout-detail">
                            {{ workout.intrvl_pace }} /mile
                        </td>
                    </tr>
                    <tr class="workout-detail" >
                        <td >
                            Cool Down:
                        </td>
                        <td  class="workout-detail" >
                            {{ workout.cool_down_tot_dist_mi }} mi
                        </td>
                        <td class="workout-detail" style="border-right: 1px gray solid; border-left: 1px gray solid">
                            {{ workout.cool_down_dur_str }}
                        </td>
                        <td class="workout-detail">
                            {{ workout.cool_down_pace }} /mile
                        </td>
                    </tr>

                </table>
            </div>
        </fieldset>
    </div>
    {% endif %}

    <div class="form-row wrkt_section" >
        <fieldset class="wrkt_det">
            <legend class="wrkt_det">
                Gear
            </legend>
            <div class="form-row">
                Clothes:

                {% if workout.notes != None %}
                    <span id='workout_clothes' >{{ workout.clothes }}</span>
                {% else %}
                    &nbsp;
                {% endif %}
            </div>
            <div class="form-row">
                {% if 'run' in workout.type.lower() %}
                Shoes:
                {% elif 'cycl' in workout.type.lower() %}
                Bike:
                {% endif %}
                {{ workout.gear_det.nm }}
                <!-- TODO add insole or other related gear -->
            </div>
        </fieldset>
    </div>

    <div class="form-row wrkt_section">
        <fieldset class="wrkt_det">
            <legend class="wrkt_det">
                notes
            </legend>
            <div>
                {% if workout.notes != None %}
                    <span id='workout_notes' >
                    {% autoescape false %}
                    {{ workout.notes | replace('&','&#38;') | replace('<','&#60;') | replace('>','&#62;') | replace('"','&#34;') | replace('\'','&#39;') | replace('\n', '<br/>') }}
                    {% endautoescape %}
                    </span>
                {% else %}
                    &nbsp;
                {% endif %}
            </div>
        </fieldset>
    </div>

    <div class="form-row wrkt_section_splits">
        {% if segment_intrvl_lst|length >0 %}
        <div class="form-group mt-3 mr-2" style="width:500px; vertical-align:top;">
            Segment Splits<br>
            <table>
                <tr style="font-weight:bold">
                    <td class="workout-intrvl workout-intrvl-hdr">
                        Segment
                    </td>
                    <td class="workout-intrvl workout-intrvl-hdr">
                        Duration
                    </td>
                    <td class="workout-intrvl workout-intrvl-hdr">
                        Dist<span class="hide_mobile">ance</span>
                    </td>
                    <td class="workout-intrvl workout-intrvl-hdr">
                        Pace
                    </td>
                    <td class="workout-intrvl workout-intrvl-hdr">
                        HR
                    </td>
                    <td class="workout-intrvl workout-intrvl-hdr hide_mobile">
                        Ele↑
                    </td>
                    <td class="workout-intrvl workout-intrvl-hdr hide_mobile">
                        Ele↓
                    </td>
                </tr>
            {% for intrvl in segment_intrvl_lst %}
                <tr>
                    <td class="workout-intrvl">
                        {{ intrvl.det }}
                    </td>
                    <td class="workout-intrvl">
                        {{ intrvl.duration }}
                    </td>
                    <td class="workout-intrvl">
                        {{ intrvl.dist_mi }}
                    </td>
                    <td class="workout-intrvl">
                        {{ intrvl.pace }}
                    </td>
                    <td class="workout-intrvl">
                        {{ intrvl.hr }}
                    </td>
                    <td class="workout-intrvl hide_mobile">
                        {{ intrvl.ele_up }}
                    </td>
                    <td class="workout-intrvl hide_mobile">
                        {{ intrvl.ele_down }}
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
    {% endif %}

    {% if lap_intrvl_lst|length >0 %}
    <div class="form-group mt-3 mr-2" style="width:500px; vertical-align:top;">
        Lap Splits<br>
        <table>
            <tr style="font-weight:bold">
                <td class="workout-intrvl workout-intrvl-hdr">
                    Lap
                </td>
                <td class="workout-intrvl workout-intrvl-hdr">
                    Duration
                </td>
                <td class="workout-intrvl workout-intrvl-hdr">
                    Dist<span class="hide_mobile">ance</span>
                </td>
                <td class="workout-intrvl workout-intrvl-hdr">
                    Pace
                </td>
                <td class="workout-intrvl workout-intrvl-hdr">
                    HR
                </td>
                <td class="workout-intrvl workout-intrvl-hdr hide_mobile">
                    Ele↑
                </td>
                <td class="workout-intrvl workout-intrvl-hdr hide_mobile">
                    Ele↓
                </td>
            </tr>
        {% for intrvl in lap_intrvl_lst %}
            <tr>
                <td class="workout-intrvl">
                    {{ intrvl.det }}
                </td>
                <td class="workout-intrvl">
                    {{ intrvl.duration }}
                </td>
                <td class="workout-intrvl">
                    {{ intrvl.dist_mi }}
                </td>
                <td class="workout-intrvl">
                    {{ intrvl.pace }}
                </td>
                <td class="workout-intrvl">
                    {{ intrvl.hr }}
                </td>
                <td class="workout-intrvl hide_mobile">
                    {{ intrvl.ele_up }}
                </td>
                <td class="workout-intrvl hide_mobile">
                    {{ intrvl.ele_down }}
                </td>
            </tr>
        {% endfor %}
        {% if intrvls['lap_sum']|length >0 %}
            {% for intrvl_sum in intrvls['lap_sum'] %}
            <tr>
                <td class="workout-intrvl workout_intrvl_sum">
                    {{ intrvl_sum.det }}
                </td>
                <td class="workout-intrvl workout_intrvl_sum">
                    {{ intrvl_sum.duration }}
                </td>
                <td class="workout-intrvl workout_intrvl_sum">
                    {{ intrvl_sum.dist_mi }}
                </td>
                <td class="workout-intrvl workout_intrvl_sum">
                    {{ intrvl_sum.pace }}
                </td>
                <td class="workout-intrvl workout_intrvl_sum">
                    {{ intrvl_sum.hr|round|int }}
                </td>
                <td class="workout-intrvl workout_intrvl_sum hide_mobile">
                    {{ "%.2f"|format(intrvl_sum.ele_up|float) }}
                </td>
                <td class="workout-intrvl workout_intrvl_sum hide_mobile">
                    {{ "%.2f"|format(intrvl_sum.ele_down|float) }}
                </td>
            </tr>
            {% endfor %}
        {% endif %}
        </table>
    </div>
    {% endif %}

    {% if pause_intrvl_lst|length >0 %}
    <div class="form-group mt-3 mr-2" style="width:500px; vertical-align:top;">
        Pause Resume Splits<br>
        <table>
            <tr style="font-weight:bold">
                <td class="workout-intrvl workout-intrvl-hdr">
                    Segment
                </td>
                <td class="workout-intrvl workout-intrvl-hdr">
                    Duration
                </td>
                <td class="workout-intrvl workout-intrvl-hdr">
                    Dist<span class="hide_mobile">ance</span>
                </td>
                <td class="workout-intrvl workout-intrvl-hdr">
                    Pace
                </td>
                <td class="workout-intrvl workout-intrvl-hdr">
                    HR
                </td>
                <td class="workout-intrvl workout-intrvl-hdr hide_mobile">
                    Ele↑
                </td>
                <td class="workout-intrvl workout-intrvl-hdr hide_mobile">
                    Ele↓
                </td>
            </tr>
        {% for intrvl in pause_intrvl_lst %}
            <tr>
                <td class="workout-intrvl">
                    {{ intrvl.det }}
                </td>
                <td class="workout-intrvl">
                    {{ intrvl.duration }}
                </td>
                <td class="workout-intrvl">
                    {{ intrvl.dist_mi }}
                </td>
                <td class="workout-intrvl">
                    {{ intrvl.pace }}
                </td>
                <td class="workout-intrvl">
                    {{ intrvl.hr }}
                </td>
                <td class="workout-intrvl hide_mobile">
                    {{ intrvl.ele_up }}
                </td>
                <td class="workout-intrvl hide_mobile">
                    {{ intrvl.ele_down }}
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
    {% endif %}

    {% if mile_intrvl_lst|length >0 %}
    <div class="form-group mt-3" style="width:500px; vertical-align:top;">
        Mile Splits<br>
        <table>
            <tr style="font-weight:bold">
                <td class="workout-intrvl workout-intrvl-hdr">
                    Mile
                </td>
                <td class="workout-intrvl workout-intrvl-hdr">
                    Duration
                </td>
                <td class="workout-intrvl workout-intrvl-hdr">
                    Dist<span class="hide_mobile">ance</span>
                </td>
                <td class="workout-intrvl workout-intrvl-hdr">
                    Pace
                </td>
                <td class="workout-intrvl workout-intrvl-hdr">
                    HR
                </td>
                <td class="workout-intrvl workout-intrvl-hdr hide_mobile">
                    Ele↑
                </td>
                <td class="workout-intrvl workout-intrvl-hdr hide_mobile">
                    Ele↓
                </td>
            </tr>
        {% for intrvl in mile_intrvl_lst %}
            <tr>
                <td class="workout-intrvl">
                    {{ intrvl.interval_order +1 }}
                </td>
                <td class="workout-intrvl">
                    {{ intrvl.duration }}
                </td>
                <td class="workout-intrvl">
                    {{ intrvl.dist_mi }}
                </td>
                <td class="workout-intrvl">
                    {{ intrvl.pace }}
                </td>
                <td class="workout-intrvl">
                    {{ intrvl.hr }}
                </td>
                <td class="workout-intrvl hide_mobile">
                    {{ intrvl.ele_up }}
                </td>
                <td class="workout-intrvl hide_mobile">
                    {{ intrvl.ele_down }}
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
    {% endif %}


    </div>
    <div>
        <form action="JavaScript:copyNotes()" role="form" class="form" style="margin-top:15px;">
            <input type="submit" value="Copy Notes +">

        </form>
    </div>
{% endblock %}
