{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block app_content %}
    <form action="" method="post" role="form" class="form">
        <header class="workouts">{{ current_user.displayname }}&#39;s workouts
        {{ render_field(form.submit, class='btn btn-dark ') }}
        </header>
        {{ form.hidden_tag() }}
    </form>
    <form action="" method="post" role="form" class="form">
        {{ form.hidden_tag() }}
        <div class="btn-toolbar pt-4 pb-4" role="toolbar" aria-label="Toolbar with button groups" style="padding-bottom: 25px;">
            <div class="btn-group mr-4" role="group" aria-label="Type group">
                {{ render_field(wrkt_filter_form.category_run_btn, class=btn_classes['run'] or 'btn btn-outline-dark') }}
                {{ render_field(wrkt_filter_form.category_cycle_btn, class=btn_classes['cycle'] or 'btn btn-outline-dark') }}
                {{ render_field(wrkt_filter_form.category_swim_btn, class=btn_classes['swim'] or 'btn btn-outline-dark') }}
            </div>
            <div class="btn-group mr-4" role="group" aria-label="Category group">
                {{ render_field(wrkt_filter_form.category_training_btn, class=btn_classes['training'] or 'btn btn-outline-dark') }}
                {{ render_field(wrkt_filter_form.category_long_btn, class=btn_classes['long'] or 'btn btn-outline-dark') }}
                {{ render_field(wrkt_filter_form.category_easy_btn, class=btn_classes['easy'] or 'btn btn-outline-dark') }}
                {{ render_field(wrkt_filter_form.category_race_btn, class=btn_classes['race'] or 'btn btn-outline-dark') }}
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
                {{ render_field(wrkt_filter_form.clear_filter_btn, class='btn btn-outline-dark') }}

            </div>
        </div>
    </form>
    <form action="" method="post" role="form" class="form">
        <div class="form-row">
            {{ form.hidden_tag() }}
            <!-- Search Fields -->
            <div class="form-group ml-2 mr-4">
                {{ wrkt_filter_form.submit_search_btn() }}
            </div>
            <div class="form-group mr-4">
                {{ wrkt_filter_form.strt_temp_search.label }}:
                {{ wrkt_filter_form.strt_temp_search(size=3, style="border: 1px solid black;") }}
            </div>
            <div class="form-group  mr-4">
                {{ wrkt_filter_form.distance_search.label }}:
                {{ wrkt_filter_form.distance_search(size=5, style="border: 1px solid black;") }}
            </div>

        </div>
    </form>

    {% include '_workouts.html.j2' %}


    <nav aria-label="Workouts page navigation">
        <ul class="pagination">
            <li class="page-item {% if not prev_url %} disabled {% endif %}">
                <a class='page-link' href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer workouts
                </a>
            </li>
            <li class="ml-auto page-item {% if not next_url %} disabled {% endif %}">
                <a class='page-link' href="{{ next_url or '#' }}">
                    Older workouts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
