{% extends "base.html" %}

{% block app_content %}
    <h1>{{ workout.type }}, {{ workout.wrkt_dttm }}</h1>
    <a class="workout_lnk" style="font-weight:normal;
    font-size: 12pt;" href="{{ url_for('main.edit_workout', workout=workout.id) }}">
        edit
    </a>
    <br>
    <div class="wrkt_type_description">
        {{ workout.category }}
        {% if workout.training_type != None %}
        - {{ workout.training_type }}
        {% endif %}
        {% if workout.location != None %}
        - {{workout.location}}
        {% endif %}
    </div>

    <div class="form-inline field_row" style="width:600px">
        <fieldset class="wrkt_det">
            <legend class="wrkt_det">
                Total
            </legend>
    <table width="100%" style="text-align: center;">
        <tr class="workout-detail" style="border-bottom: 1px gray solid;">
            <td  class="workout-detail" width="100px">
                Distance <br>
                {{ workout.dist_mi }} mi
            </td>
            <td class="workout-detail" width="100px" style="border-right: 1px gray solid; border-left: 1px gray solid">
                Duration <br>
                {{ workout.duration }}
            </td>
            <td class="workout-detail"  width="100px" >
                Pace <br>
                {{ workout.pace }} /mile
            </td>
        </tr>
        <tr class="workout-detail" >
            <td  class="workout-detail" >
                Elevation<br>
                {{ workout.ele_up }} &uarr;&nbsp;
                {{ workout.ele_down }} &darr;
            </td>
            <td class="workout-detail" style="border-right: 1px gray solid; border-left: 1px gray solid">
                Calories<br>
                {{ workout.cal_burn }}
            </td>
            <td class="workout-detail" >
                Heart Rate <br>
                {{ workout.hr }}
            </td>
        </tr>
    </table>
    </fieldset>
    </div>

    {% if workout.temp_strt != None %}
    <div class="form-inline field_row" style="width:600px">
        <fieldset class="wrkt_det">
            <legend class="wrkt_det">
                Weather
            </legend>
            <div class="form-inline field_row">
                Start: {{ workout.temp_strt|round|int }}&#176; {{ workout.wethr_cond_strt }}, {{ workout.hmdty_strt|round|int }}% humidity, wind speed {{ workout.wind_speed_strt }}mph, wind gust {{ workout.wind_gust_strt }}, feels like {{ workout.temp_feels_like_strt|round|int }}.
                <br>
                End: {{ workout.temp_end|round|int }}&#176; {{ workout.wethr_cond_end }}, {{ workout.hmdty_end|round|int }}% humidity, wind speed {{ workout.wind_speed_end }}mph, wind gust {{ workout.wind_gust_end }}, feels like {{ workout.temp_feels_like_end|round|int }}.
            </div>
        </fieldset>
    </div>
    {% endif %}

    {% if workout.intrvl_tot_dist_mi != None %}
    <div class="form-inline field_row" style="width:600px">
        <fieldset class="wrkt_det">
            <legend class="wrkt_det">
                Training Summary
            </legend>
            <div class="form-inline field_row">
                <table width="100%" style="text-align: center;">
                    <tr class="workout-detail">
                        <td width="100px">
                            &nbsp;
                        </td>
                        <td  class="workout-detail" width="100px">
                            Distance
                        </td>
                        <td class="workout-detail" width="100px" style="border-right: 1px gray solid; border-left: 1px gray solid">
                            Duration
                        </td>
                        <td class="workout-detail"  width="100px">
                            Pace
                        </td>
                    </tr>
                    <tr class="workout-detail" >
                        <td>
                            Warm Up:
                        </td>
                        <td  class="workout-detail" >
                            {{ workout.warm_up_tot_dist_mi }} mi
                        </td>
                        <td class="workout-detail" style="border-right: 1px gray solid; border-left: 1px gray solid">
                            {{ workout.warm_up_dur_str }}
                        </td>
                        <td class="workout-detail">
                            {{ workout.warm_up_pace }} /mile
                        </td>
                    </tr>
                    <tr class="workout-detail" >
                        <td >
                            Intervals:
                        </td>
                        <td  class="workout-detail" >
                            {{ workout.intrvl_tot_dist_mi }} mi
                        </td>
                        <td class="workout-detail" style="border-right: 1px gray solid; border-left: 1px gray solid">
                            {{ workout.intrvl_dur_str }}
                        </td>
                        <td class="workout-detail">
                            {{ workout.intrvl_pace }} /mile
                        </td>
                    </tr>
                    <tr class="workout-detail" >
                        <td >
                            Cool Down:
                        </td>
                        <td  class="workout-detail" >
                            {{ workout.cool_down_tot_dist_mi }} mi
                        </td>
                        <td class="workout-detail" style="border-right: 1px gray solid; border-left: 1px gray solid">
                            {{ workout.cool_down_dur_str }}
                        </td>
                        <td class="workout-detail">
                            {{ workout.cool_down_pace }} /mile
                        </td>
                    </tr>

                </table>
            </div>
        </fieldset>
    </div>
    {% endif %}

    <div class="form-inline field_row" style="width:600px">
        <fieldset class="wrkt_det">
            <legend class="wrkt_det">
                Gear
            </legend>
            <div class="form-inline field_row">
                Clothes:
                {% if workout.notes != None %}
                    {{ workout.clothes }}
                {% else %}
                    &nbsp;
                {% endif %}
                <br>
                {% if 'run' in workout.type.lower() %}
                Shoes:
                {% elif 'cycl' in workout.type.lower() %}
                Bike:
                {% endif %}
                {{ workout.gear }}
                <!-- TODO add insole or other related gear -->
            </div>
        </fieldset>
    </div>

    <div class="form-inline field_row" style="width:600px">
        <fieldset class="wrkt_det">
            <legend class="wrkt_det">
                notes
            </legend>
            <div class="form-inline field_row">
                {% if workout.notes != None %}
                    {% autoescape false %}
                    {{ workout.notes | replace('&','&#38;') | replace('<','&#60;') | replace('>','&#62;') | replace('"','&#34;') | replace('\'','&#39;') | replace('\n', '<br/>') }}
                    {% endautoescape %}
                {% else %}
                    &nbsp;
                {% endif %}
            </div>
        </fieldset>
    </div>

    <div class="form-inline field_row" style="width:1100px; vertical-align:top;">
        {% if segment_intrvl_lst|length >0 %}
        <div class="form-group" style="width:500px; vertical-align:top;">
            Segment Splits<br>
            <table>
                <tr style="font-weight:bold">
                    <td class="workout-intrvl workout-intrvl-hdr">
                        Segment
                    </td>
                    <td class="workout-intrvl workout-intrvl-hdr">
                        Duration
                    </td>
                    <td class="workout-intrvl workout-intrvl-hdr">
                        Distance
                    </td>
                    <td class="workout-intrvl workout-intrvl-hdr">
                        Pace
                    </td>
                    <td class="workout-intrvl workout-intrvl-hdr">
                        HR
                    </td>
                    <td class="workout-intrvl workout-intrvl-hdr">
                        Ele Up
                    </td>
                    <td class="workout-intrvl workout-intrvl-hdr">
                        Ele Down
                    </td>
                </tr>
            {% for intrvl in segment_intrvl_lst %}
                <tr>
                    <td class="workout-intrvl">
                        {{ intrvl.det }}
                    </td>
                    <td class="workout-intrvl">
                        {{ intrvl.duration }}
                    </td>
                    <td class="workout-intrvl">
                        {{ intrvl.dist_mi }}
                    </td>
                    <td class="workout-intrvl">
                        {{ intrvl.pace }}
                    </td>
                    <td class="workout-intrvl">
                        {{ intrvl.hr }}
                    </td>
                    <td class="workout-intrvl">
                        {{ intrvl.ele_up }}
                    </td>
                    <td class="workout-intrvl">
                        {{ intrvl.ele_down }}
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
    {% endif %}

    {% if mile_intrvl_lst|length >0 %}
    <div class="form-group" style="width:500px; vertical-align:top;">
        Mile Splits<br>
        <table>
            <tr style="font-weight:bold">
                <td class="workout-intrvl workout-intrvl-hdr">
                    Mile
                </td>
                <td class="workout-intrvl workout-intrvl-hdr">
                    Duration
                </td>
                <td class="workout-intrvl workout-intrvl-hdr">
                    Distance
                </td>
                <td class="workout-intrvl workout-intrvl-hdr">
                    Pace
                </td>
                <td class="workout-intrvl workout-intrvl-hdr">
                    HR
                </td>
                <td class="workout-intrvl workout-intrvl-hdr">
                    Ele Up
                </td>
                <td class="workout-intrvl workout-intrvl-hdr">
                    Ele Down
                </td>
            </tr>
        {% for intrvl in mile_intrvl_lst %}
            <tr>
                <td class="workout-intrvl">
                    {{ intrvl.interval_order +1 }}
                </td>
                <td class="workout-intrvl">
                    {{ intrvl.duration }}
                </td>
                <td class="workout-intrvl">
                    {{ intrvl.dist_mi }}
                </td>
                <td class="workout-intrvl">
                    {{ intrvl.pace }}
                </td>
                <td class="workout-intrvl">
                    {{ intrvl.hr }}
                </td>
                <td class="workout-intrvl">
                    {{ intrvl.ele_up }}
                </td>
                <td class="workout-intrvl">
                    {{ intrvl.ele_down }}
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
    {% endif %}


    </div>
{% endblock %}
